# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.husky
# npm run build 生成的文件不要上传
packages/svg/**
!packages/svg/index.d.ts
packages/components/**
!packages/components/index.less
# 下面两种写法都可
/lib
/types/